/**
*   Truncate string in the middle
*/
.filename {
    display: flex;
    min-width: 0;

    .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .extension {
        flex-shrink: 0;
    }
}
