.offSplitMain {
    background-color: var(--component-bg-light) !important;
}
.onSplitMain {
    background-color: var(--accent-000) !important;
    color: var(--accent-200) !important;
}

.offSplitSecondary {
    background-color: var(--component-bg-light) !important;
}
.onSplitSecondary {
    background-color: var(--error-000) !important;
    color: var(--error-200) !important;
}

.active {
}
.idle {
    opacity: 0.4 !important;
}
