.root {
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: shine 0.8s infinite;
    filter: brightness(0.8);
}

@keyframes shine {
    100% {
        filter: brightness(0.9);
    }
}

.line {
    position: relative;
    background-color: inherit;
    width: 100%;
    height: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    border-radius: 0.2em;
}

.root ~ .root {
    width: 90%;
}
.root ~ .root ~ .root {
    width: 80%;
}
