.root {
    --menu-tappable-offset: 2.8rem;
    position: relative;
}

/* MAGIC */
.root:focus {
    outline: none;
}

.root:focus-within .menu,
.button:focus ~ .menu {
    width: 100%;
    transform: scaleX(1) scaleY(1);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
    opacity: 1;
}

.root,
.button,
.menu,
.menuItems,
.item,
.root [role='menuitem'] {
    width: 100%;
}
.menu {
    width: 100%;
    transform: scaleX(0) scaleY(0);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 75ms;
    transform-origin: top;
    opacity: 0;
    top: var(--menu-tappable-offset);
    position: absolute;
    box-shadow: var(--component-shadow-soft);
    z-index: var(--above);
}

.menu,
.menuItems {
    display: flex;
    flex-direction: column;
}

.item {
    justify-content: space-between;
}

.button {
    min-height: var(--menu-tappable-offset);
}
