.root {
    --menu-tappable-offset: 2.8rem;
    position: relative;
}
.button,
.menu,
.menuItems,
.item {
    width: 100%;
}
.button ~ .menu {
    width: 100%;
    transform: scaleX(0) scaleY(0);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 75ms;
    opacity: 0;
    top: var(--menu-tappable-offset);
}

.menu {
    position: absolute;
    box-shadow: var(--component-shadow-soft);
    z-index: var(--above);
}

.menu,
.menuItems {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.item {
    justify-content: space-between;
}

.menuItems {
    /* padding: var(--component-padding); */
    width: 100% !important;
}
.button {
    min-height: var(--menu-tappable-offset);
}
.button ~ .menu:focus-within,
.button:focus ~ .menu {
    width: 100%;
    transform: scaleX(1) scaleY(1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
    opacity: 1;
}
