.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.root .label {
    margin-bottom: var(--component-margin);
}
.root [data-reach-listbox-button] {
    box-shadow: var(--component-shadow);
    min-height: var(--tappable-height);
    padding: var(--tappable-padding);
    background-color: var(--component-bg);

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font: inherit;
    outline: var(--component-border-width) solid var(--component-border);
}
.root [data-reach-listbox-input] {
    display: flex;
    width: 100%;
    flex: 1;
}
.root [data-reach-listbox-button]:focus,
.root [data-reach-listbox-button]:active {
    outline: none !important;
    outline: var(--tappable-focus-outline);
    box-shadow: var(--tappable-focus-shadow);
    border-radius: 0 !important;
}

.root [data-reach-listbox-button] span {
    display: inline-flex;
}

.root [data-reach-listbox-button] svg {
    min-width: 12px;
    margin-left: auto;
}

.portal[data-reach-listbox-list] {
    margin: 0;
    padding: 0;
    list-style: none;
}
.portal[data-reach-listbox-list]:focus {
    box-shadow: none;
    outline: none;
}

.portal[data-reach-listbox-group-label] {
    text-transform: capitalize;
    font-weight: 400 !important;
    text-decoration: underline !important;
    text-underline-offset: 2px;
}
.portal[data-reach-listbox-group-label],
.portal[data-reach-listbox-option] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    user-select: none;
    cursor: pointer;
    /* a/link */
    color: currentColor;
    font: inherit;
    text-decoration: initial;
    /* both */
    min-height: var(--tappable-height);
    min-width: 0;
    padding: 0 var(--tappable-padding-max);
    outline: none;
    white-space: nowrap;
    user-select: none;
}
.portal[data-reach-listbox-option][data-current-nav] {
    outline: none !important;
    outline: var(--tappable-focus-outline);
    box-shadow: var(--tappable-focus-shadow);
    border-radius: 0 !important;
}

.portal[data-reach-listbox-option][data-current-selected] {
    background-color: var(--highlight) !important;
    font-weight: bolder;
}

.portal[data-reach-listbox-popover][hidden] {
    display: none;
}

.portal[data-reach-listbox-popover] {
    transform: translateY(var(--tappable-popover-offset));
    display: flex;
    position: absolute;
    flex-direction: column;
    min-width: -moz-fit-content;
    min-width: -webkit-min-content;
    min-width: min-content;
    background-color: var(--component-bg);
    box-shadow: var(--component-shadow);
    outline: none;
    outline: var(--component-border-width) solid var(--component-border);
    z-index: var(--float-z);

    /*
      top: calc(var(--tappable-height) + var(--tappable-popover-offset)) !important;
    */
}

.portal[data-reach-listbox-popover]:focus {
    outline: none !important;
    outline: var(--tappable-focus-outline);
    box-shadow: var(--tappable-focus-shadow);
    border-radius: 0 !important;
}

.portal[data-reach-listbox-group-label] {
    display: flex;
    margin: 0;
    padding: var(--tappable-padding);
    white-space: nowrap;
    user-select: none;
    font-weight: bolder;
}
.portal[data-reach-listbox-option][aria-disabled='true'],
.portal[data-reach-listbox-button][aria-disabled='true'] {
    opacity: var(--component-disabled-opacity);
    cursor: no-drop;
}
